<html>
<head>
    <link  rel="stylesheet" href="{{asset('css/style.css')}}", type = "text/css">


</head>
<body>
<h1>Esprit Student</h1>
<p>    Au sein d’Esprit, les associations et clubs remplissent plusieurs rôles étant donné la diversité des motivations qui animent ceux qui en sont à l’origine. Conscients de l’importance de la vie associative, les étudiants jouent un rôle important dans l’élaboration et la transmission des messages aux destinataires.

    Ci-dessous la liste des clubs d’Esprit. N’hésitez pas à la compléter.
</p>
<img src="{{ asset ('images/logo.png') }}" alt="Example"/>
</body>
</html>